@model JZenoApp.Models.Voucher

@{
    ViewData["Title"] = "Thêm Voucher";
    ViewBag.Current = "QuanLyVoucher";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<link href="~/css/manage.css" rel="stylesheet"/>




<hr />
<div class="box-form" style="background-color: #fff;">
    <div class="form-horizontal">
        <h4 class="title-form">Thêm Voucher</h4>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row p-0">
                <span class="col label-name">Tên Voucher</span>
                <input asp-for="name" class="input-form col-11" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group row p-0">
                <span class="col label-name">Giá Voucher</span>
                <input asp-for="price" class="input-form col-11" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group row p-0">
                <span class="col label-name">Số Lượng</span>
                <input asp-for="quantity" class="input-form col-11" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group row p-0">
                <span class="col label-name">Ngày Bắt Đầu</span>
                <input asp-for="startDate" class="input-form col-11" onchange="isDateBeforeToday()" />
                <span asp-validation-for="startDate" class="text-danger"></span>
            </div>
            <div class="form-group row p-0">
                <span class="col label-name">Ngày Kết Thúc</span>
                <input asp-for="endDate" class="input-form col-11" onchange="endDateLonHonstartDate()" />
                <span asp-validation-for="endDate" class="text-danger"></span>
            </div>
            <div class="form-btn d-flex justify-content-center form-btn">
                <input type="submit" value="Tạo mới" class="btn btn-success" id="submit-coupon" style="border:none;width: 100%;
                    background: #ee4d2d;
                    height: 38px;
                    border: none;
                    font-size: 18px;
                    border-radius: 24px;
                    font-weight: bold;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở lại</a>
</div>


<script>
    var dateStart = document.querySelector("#startDate")
    var dateEnd = document.querySelector("#endDate")
    var submitcoupon = document.querySelector("#submit-coupon")
    

    function isDateBeforeToday() {
        if (new Date((dateStart.value)) < new Date(new Date().toDateString())) {
            alert("Ngày bắt đầu phải lớn hơn ngày hiện tại!")
            submitcoupon.setAttribute('disabled', true);
            dateEnd.setAttribute('disabled', true);
        } else {
            submitcoupon.removeAttribute('disabled');
            dateEnd.removeAttribute('disabled');
        }
    }

    function endDateLonHonstartDate() {
         if (new Date((dateEnd.value)) < new Date((dateStart.value))) {
            alert("Ngày kết thúc phải lớn hơn ngày bắt đầu!")
            submitcoupon.setAttribute('disabled', true);
        } else {
            submitcoupon.removeAttribute('disabled');
        }
    }
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
