@model JZenoApp.Models.Voucher

@{
    ViewData["Title"] = "Edit";
    ViewBag.Current = "QuanLyVoucher";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<link href="~/css/manage.css" rel="stylesheet" />


<hr />
<div class="box-form" style="background-color: #fff;">
    <div class="form-horizontal">
        <h4 class="title-form">Chỉnh sửa Voucher</h4>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="voucherID" />
            <div class="form-group row p-0">
                <span class="col label-name">Tên Voucher</span>
                <input asp-for="name" class="input-form col-11" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group row p-0">
                <span class="col label-name">Giá Voucher</span>
                <input asp-for="price" class="input-form col-11" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group row p-0">
                <span class="col label-name">Số Lượng</span>
                <input asp-for="quantity" class="input-form col-11" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
            <div class="form-group row p-0">
                <span class="col label-name">Ngày Bắt Đầu</span>
                <input asp-for="startDate" class="input-form col-11" />
                <span asp-validation-for="startDate" class="text-danger"></span>
            </div>
            <div class="form-group row p-0">
                <span class="col label-name">Ngày Kết Thúc</span>
                <input asp-for="endDate" class="input-form col-11" />
                <span asp-validation-for="endDate" class="text-danger"></span>
            </div>
            <div class="form-btn d-flex justify-content-center form-btn">
                <input type="submit" value="Cập nhật" style="background-color:var(--main-color1); border:none;" class="btn btn-primary" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
