@model JZenoApp.Models.Category

@{
    ViewData["Title"] = "Thêm Danh Mục";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    <link rel="stylesheet" href="~/css/managementForm.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
}

<div class="row" style="background: #fff; padding: 20px; margin: 10px; border-radius: 8px;">
    <div class="col-md-15">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row p-0">
                <span class="col label-name">ID Loại Hàng</span>
                <input asp-for="Id" class="input-form col-10" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group row p-0">
                <span class="col label-name">Tên Loại Hàng</span>
                <input asp-for="name" class="input-form col-10" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group row p-0">
                <span class="col label-name">Icon</span>
                <input asp-for="icon" class="input-form col-10" />
                <span asp-validation-for="icon" class="text-danger"></span>
            </div>
            <div class="form-btn d-flex justify-content-center form-btn" style="margin: 8px 12px;">
                <input type="submit" value="Create" class="btn btn-primary" style="
                    width: 100%;
                    background: #ee4d2d;
                    height: 38px;
                    border: none;
                    font-size: 18px;
                    border-radius: 24px;
                    font-weight: bold;" />
            </div>
        </form>
    </div>
</div>


<div>
    <a href="/Manage/Categories">Trở lại</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
