@model IEnumerable<JZenoApp.Models.Category>

@{
    ViewData["Title"] = "Quản lý Danh Mục";
    ViewBag.Current = "QuanLyDanhMuc";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

@* ============================ *@
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a asp-action="Create" class="create-btn">Thêm Danh Mục</a>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="overflow-x: clip !important;">
            <table class="table table-bordered" id="example" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Tên Danh Mục
                        </th>
                        <th>
                            Hình Ảnh
                        </th>
                        <th style="width: 100px"></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            Tên Danh Mục
                        </th>
                        <th>
                            Hình Ảnh
                        </th>
                        <th style="width: 100px"></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                <img src="~/images/categories/@item.icon" alt="@item.name" width="50" style="border-radius: 50%;"/>
                            <td style="text-align: center;">
                                <a asp-action="Edit" asp-route-id="@item.Id" style="text-decoration: none">
                                    <span class="btn btn-warning" style="border-radius: 25px;">
                                        <i class="fas fa-pencil-alt" style="color: #fff"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    new DataTable('#example');
</script>