@model JZenoApp.Models.NewsModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa Tin Tức @Model.title</h1>

<div>
   
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Quay Về</a>
    </form>
</div>
