@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Đặt lại mật khẩu";
}
<!--<h1>@ViewData["Title"]</h1>-->
<link rel="stylesheet" href="~/css/ResendPassConfirm.css" />
<div id="wrapper5" style="
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;">
    <form id="Resend-password-confirm"> 
        <h3>Vui lòng kiểm tra email để đặt lại mật khẩu.</h3>
    </form>
</div>
<!--
    <p>
    Please check your email to reset your password.
</p>
-->

