@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Gửi xác nhận email";
}
<link rel="stylesheet" href="~/css/StyleSheetREmail.css" />
<!--<h1>@ViewData["Title"]</h1>-->
<div id="wrapper3">
    <form id="Resend-email" method="post">
        <h3>Gửi xác nhận lại email</h3>
        <div asp-validation-summary="All"role="alert"></div>
        <div class="form-floating mb-3 mt-3">
            <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Input.Email" class="form-label">Vui lòng nhập email của bạn</label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary" style="height:40px;margin: 0px;color: #fff; background-color: #ee4d2d;box-shadow: 0 1px 1px rgba(0,0,0,.09)">GỬI</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
