@page "/admin/role/updaterole/{handler?}/"
@model JZenoApp.Areas.Admin.Pages.Role.AddModel
@{
    var btnText = Model.IsUpdate ? "Cập nhật" : "Tạo mới";
    ViewData["Title"] = "THÊM ROLE";
}
<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="@Model.StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden"  asp-for="IsUpdate">
            <div class="form-group">
                <div style="font-size:18px; font-weight:600; margin-bottom:5px;">Tên Role</div>
                <input asp-for="Input.Name" class="form-control" style="margin-bottom:16px;">
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>

            <button style="background-color:var(--main-color1); border:none;" id="add-or-edit-role" type="submit"
                    asp-page-handler="AddOrUpdate" class="btn btn-primary">@btnText</button>
            <span style="background-color:var(--main-color1); border:none; color:#fff" class="btn btn-primary">
                <a   asp-page="./Index">Danh sách</a>
            </span>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}