@model JZenoApp.Models.VoucherPartner

@{
    ViewData["Title"] = "Chỉnh Sửa Voucher";
    ViewBag.Current = "QuanLyVoucher";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<link href="~/css/manage.css" rel="stylesheet" />


<hr />
<div class="box-form" style="background-color: #fff;">
    <div class="form-horizontal">
        <h4 class="title-form">Chỉnh sửa Voucher (@Model.vID)</h4>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="vID" />
            <input type="hidden" asp-for="partnerId" />
            <div class="form-group row p-0">
                <span class="col label-name">Giá Voucher</span>
                <input asp-for="price" class="input-form col-11" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group row p-0">
                <span class="col label-name">Số Lượng</span>
                <input asp-for="quantity" class="input-form col-11" />
                <span asp-validation-for="quantity" class="text-danger"></span>
            </div>
        
            <div class="form-btn d-flex justify-content-center form-btn">
                <input type="submit" value="Cập nhật" class="btn btn-primary" style="border:none;width: 100%;
                    background: #ee4d2d;
                    height: 38px;
                    border: none;
                    font-size: 18px;
                    border-radius: 24px;
                    font-weight: bold;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở về</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
