@model IEnumerable<JZenoApp.Models.VoucherPartner>

@{
    ViewData["Title"] = "Quản Lý Voucher Cửa Hàng";
    ViewBag.Current = "QuanLyVoucher";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a asp-action="Create" class="create-btn">Thêm Voucher</a>
    </div>
    <div class="card-body">
        <div class="table-responsive" style="overflow-x: clip !important;">
            <table class="table table-bordered" id="example" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Tên voucher
                        </th>
                        <th>
                            Giá voucher
                        </th>
                        <th>
                            Số lượng
                        </th>
                        <th style="text-align: center">
                            Chức năng
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            Tên voucher
                        </th>
                        <th>
                            Giá voucher
                        </th>
                        <th>
                            Số lượng
                        </th>
                        <th style="text-align: center">
                            Chức năng
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.vID)
                            </td>
                            <td>
                                @if (Convert.ToDouble(item.price) == 0.1)
                                {
                                    <span>10%</span>
                                }
                                @if (Convert.ToDouble(item.price) == 0.2)
                                {
                                    <span>20%</span>
                                }
                                @if (Convert.ToDouble(item.price) == 0.3)
                                {
                                    <span>30%</span>
                                }
                                @if (Convert.ToDouble(item.price) == 0.4)
                                {
                                    <span>40%</span>
                                }
                                @if (Convert.ToDouble(item.price) == 0.5)
                                {
                                    <span>50%</span>
                                }
                                @if (Convert.ToDouble(item.price) == 0.6)
                                {
                                    <span>60%</span>
                                }
                                @if (Convert.ToDouble(item.price) == 0.7)
                                {
                                    <span>70%</span>
                                }
                                @if (Convert.ToDouble(item.price) > 1)
                                {
                                    <div>
                                        Giảm @Convert.ToDecimal(item.price).ToString("N0")đ
                                    </div>
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.quantity)
                            </td>
                            <td style="text-align: center">
                                <a asp-action="Edit" asp-route-id="@item.vID" style="text-decoration: none">
                                    <span class="btn btn-warning" style="min-width: 65px !important; border-radius: 25px;">
                                        <i class="fas fa-pencil-alt" style="color: #fff"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    new DataTable('#example');
</script>