@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using JZenoApp.Models
@{
    IEnumerable<Category> list = (IEnumerable<Category>)ViewData["GetCate"]!;
    var x = 0;
}

@foreach (var hinh in list)
{
    if (x < 8)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1" style="padding:5px; border-radius:2px;">
            <a class="text-decoration-none" href="/Products?searchCategory=@hinh.Id">
                <div class="cat-item d-flex align-items-center mb-4">
                    <div class="overflow-hidden" style="width: 70px; height: 70px;">
                        <img class="img-fluid" src="/images/logo/@hinh.icon" alt="">
                    </div>
                    <div class="flex-fill pl-3">
                        <h4>@hinh.name</h4>
                    </div>
                </div>
            </a>
        </div>
    }
    x++;
}

