@model IEnumerable<JZenoApp.Models.Chat>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Index";
}
@foreach (var item in Model)
{
    <a asp-action="Message" asp-route-id="@item.id" style="margin:10px;" class="row">
        @if (UserManager.GetUserId(User) == item.Receiver!.Id)
        {
            <div class="col-3"><img height="50" src="/images/users/@item.Sender!.image" /></div>
            <div class="col">
                <div class="itemName">@item.Sender!.fullName</div>
                <div class="contact">Liên hệ ngay</div>
            </div>
        }
        else
        {
            <div class="col-3"><img height="50" src="/images/users/@item.Receiver!.image" /></div>
            <div class="col">
                <div class="itemName">@item.Receiver!.fullName</div>
                <div class="contact">Liên hệ ngay</div>
            </div>
        }
    </a>
}