@model IEnumerable<JZenoApp.Models.Chat>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Index";
}

<div class="row chat-box" style="margin:0; border-radius: 8px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
    <div class="col" style="overflow-y:auto; overflow:scroll; overflow-x:hidden; background: #f9f9f9; border-radius: 8px 0 0 8px; padding: 10px;">
        @foreach (var item in Model)
        {
            <a asp-action="Message" asp-route-id="@item.id" style="margin:10px;" class="row">
                @if (UserManager.GetUserId(User) == item.Receiver!.Id)
                {
                    <div class="col-3"><img height="50" src="/images/users/@item.Sender!.image" /></div>
                    <div class="col">
                        <div class="itemName">@item.Sender!.fullName</div>
                        <div class="contact">Liên hệ ngay</div>
                    </div>
                }
                else
                {
                    <div class="col-3"><img height="50" src="/images/users/@item.Receiver!.image" /></div>
                    <div class="col">
                        <div class="itemName">@item.Receiver!.fullName</div>
                        <div class="contact">Liên hệ ngay</div>
                    </div>
                }
            </a>
            <hr style="opacity: 0.1; color: rgba(148, 148, 148, 0.8)" />
        }
    </div>

    <div class="col-9 d-flex" style="padding: 10px; height:50vh; justify-content: center; align-items: center; ">
                <h1 class="text-center" style="margin-top:40px;">Vui lòng chọn tin nhắn</h1>
        <img src="~/images/mess.png" width="100" alt="" />
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/message.css" asp-append-version="true" />