@model JZenoApp.Models.Chat
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Details";
}


<div class="row chat-box" style="margin:0; border-radius: 8px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
    <div class="col" style="overflow-y:auto; overflow:scroll; overflow-x:hidden; background: #f9f9f9; border-radius: 8px 0 0 8px; padding: 10px;">
        @{
            await Html.RenderPartialAsync("ChatBar", ViewData["GetChat"]);
        }
    </div>

    <div class="col-9" style="padding: 10px;">
        <div>
            @if (UserManager.GetUserId(User) == Model.Receiver!.Id)
            {
                <div><img height="40" src="/images/users/@Model.Sender!.image" /> <strong>@Model.Sender!.fullName</strong></div>
            }
            else{
                <div style="display: flex; align-items: center; padding: 0 14px"><img height="40" style="margin-right: 8px" src="/images/users/@Model.Receiver!.Partner!.image" /> <h4>@Model.Receiver!.Partner.name</h4></div>
            }
        </div>
        <hr style="opacity: 0.1" />
        <input id="chatId" hidden value="@Model.id" />
        <input id="senderId" hidden value="@Model.senderId" />
        <div id="messagesList"></div>

        <div class="card-footer mt-4">
            <div class="input-group" >
                <textarea name="" id="messageInput" class="form-control type_msg" placeholder="Nhập nội dung..."></textarea>
                <div class="input-group-append" style="z-index: 10">
                    <span class="send_btn" id="sendButton"><i class="fas fa-location-arrow" style="right: -5px; position: absolute; background: #f53d2d; padding: 10px; font-size: 18px; border-radius: 50%; width: 40px; height: 40px; display: flex; justify-content: center; align-items: center;"></i></span>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/message.css" asp-append-version="true" />
