.tong {
    display: grid;
    place-content: center;
    text-align: center;
}

    .tong h1 {
        margin-bottom: 15px;
        font-size: 50px;
        color: #0c81bb;
        font-weight: 800;
        text-shadow: 0px 0px 0 rgb(0 93 151), 0px 1px 0 rgb(0 57 115), 0px 2px 1px rgb(148 148 148 / 47%), 0px 2px 1px rgb(148 148 148 / 50%), 0px 0px 1px rgb(148 148 148 / 20%)
    }

.container1 {
    padding: 20px 30px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.rating {
    font-size: 0;
}

    .rating:after {
        content: " ";
        clear: both;
        display: block;
    }

    .rating input {
        display: none;
    }

.rating-label {
    height: 16px;
    width: 16px;
    color: #ccc;
    font-size: 24px;
    line-height: 16px;
    margin-right: 4px;
    text-align: center;
    display: inline-block;
}

.rating[dir="rtl"] {
    unicode-bidi: bidi-override;
}

    .rating[dir="rtl"] > input:checked ~ .rating-label {
        font-size: 0;
    }

        .rating[dir="rtl"] > input:checked ~ .rating-label:before {
            content: "\2605";
            color: green;
        }

    .rating[dir="rtl"] > input:nth-child(7):checked ~ .rating-label:before,
    .rating[dir="rtl"] > input:nth-child(9):checked ~ .rating-label:before {
        color: #feca02;
    }

.rating-label.is-active {
    color: #feca02;
}

.rating-large .rating-label {
    height: 24px;
    width: 24px;
    font-size: 40px;
    margin-right: 15px;
}

    .rating-large .rating-label:before {
        font-size: 32px;
    }

.rating-small .rating-label {
    height: 12px;
    width: 12px;
    font-size: 16px;
    margin-right: 2px;
}

    .rating-small .rating-label:before {
        font-size: 16px;
    }

.wrapper {
    position: relative;
    align-content:center;
    display:contents;
    text-align:center;
}

.rating {
    margin: 15px auto;
}

form header {
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
}

form .textarea {
    height: 100px;
    width: 100%;
    overflow: hidden;
}

    form .textarea textarea {
        height: 100%;
        width: 100%;
        outline: none;
        color: black;
        border: none;
        background: #eee;
        padding: 10px;
        font-size: 17px;
        resize: none;
        border-radius: 8px;
    }

form .binhluan {
    height: 45px;
    width: 100%;
    margin: 15px 0;
}

    form .binhluan button, form .binhluan input {
        height: 100%;
        width: 150px;
        border: none;
        border-radius: 8px;
        outline: none;
        background: #D19C97;
        color: white;
        font-size: 17px;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s ease;
    }


        form .binhluan button:hover {
            background: #cd9994;
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
        }

    form .binhluan input {
        margin-top: -3px;
        color: white;
        background-color: #d8b0ac;
    }

        form .binhluan input:hover {
            background-color: #D19C97;
            color: white;
        }
