
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class=" flex-column" style="list-style: none;">
   
    <li class="nav-item"><a style="color:gray;" class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" href="/Identity/Account/Manage/Index">Tài khoản của tôi</a></li>
    <li class="nav-item"><a style="color:gray;" class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" href="/Identity/Account/Manage/Email">Email</a></li>
    <li class="nav-item"><a style="color:gray;" class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" href="/Identity/Account/Manage/SetPassword">Mật Khẩu</a></li>
</ul>
