@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}
<link rel="stylesheet" href="~/css/profile.css" />

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row mail" >
    <div class="col-md-6">
        <h2 style="font-weight:bold;font-size:3rem;">Quản lý Email</h2>
        <h5 style="color: #6F6F6F;">Quản lý email để bảo mật tài khoản</h5>
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="form-group ">
                    <span class="ttlienhe">Email hiện tại</span>
                    <div class="form-floating mb-3 input-group">
                        <input style="padding-bottom:16px;" asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />
                        <div class="input-group-append">
                            <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                        </div>
                    </div>
                </div>               
            }
            else
            {
                <div class="form-group ">
                    <span class="ttlienhe">Email hiện tại</span>
                    <div class="form-floating mb-3">
                        <input style="padding-bottom:16px;" asp-for="Email" class="form-control" placeholder="Please enter your email." disabled />

                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                    </div>
                </div>
                
            }
            <div class="form-group ">
                <span class="ttlienhe">Email mới</span>
                <div class="form-floating mb-3">
                    <input asp-for="Input.NewEmail" style="padding-bottom:16px;" class="form-control" autocomplete="email" aria-required="true" placeholder="Please enter new email." />

                    <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-12" style="display:flex;justify-content:center;">                 
                    <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary" style="background-color:var(--main-color1); color:white;padding: 8px 18px; border-radius:8px;">Change email</button>
                </div>
            </div>
            
        </form>
    </div>
    <div class="col-6">
        <img class="imagemail" src="~/images/categories/bao-mat-email-doanh-nghiep-dau-la-giai-phap-1.png" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<style>
    .mail{
        background-color: white;
        padding: 20px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 8px
    }
</style>