@using JZenoApp.Enum
@model JZenoApp.Models.Product

@{
    ViewData["Title"] = "Thêm Sản Phẩm";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
    <link rel="stylesheet" href="~/css/managementForm.css">
}

<div class="row" style="background: #fff; padding: 20px; margin: 10px; border-radius: 8px;">
    <div class="col-md-15">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row p-0">
                <span class="col label-name">ID sản phẩm</span>
                <input asp-for="Id" class="input-form col-10" readonly />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group row p-0">
                <span class="col label-name">Tên sản phẩm</span>
                <input asp-for="name" class="input-form col-10" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group row p-0">
                <span class="col label-name">Giá bán đã giảm</span>
                <input asp-for="discount" class="input-form col-10" />
                <span asp-validation-for="discount" class="text-danger"></span>
            </div>
            <div class="form-group row p-0">
                <span class="col label-name">Giá bán chưa giảm</span>
                <input asp-for="price" class="input-form col-10" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="col label-name">Mô tả</span>

                <input asp-for="description" class="form-control" />

                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="col control-label">Màu sắc</span>
                <div id="addRow" class="" style="
                    margin-bottom: 8px;
                    border-radius: 50%;
                    display: inline-block;
                    background: #ffc107;
                    width: 24px;
                    height: 24px;
                    text-align: center;
                    font-weight: bold;
                    color: #fff;
                    cursor: pointer;
                    ">+
                </div>
                <div id="newRow">
                    <div  class="row g-15">
                        <div class="col-sm-3">
                            <input name="productColor[0].Name" id="productColor[0].Name" class="form-control" placeholder="Màu"/>
                        </div>
                        <div class="col-sm-2">
                            <input name="productColor[0].productSize[0].name" id="productColor[0].productSize[0].name" class="form-control" placeholder="Size" />
                        </div>
                        <div class="col-sm-2">
                            <input name="productColor[0].productSize[0].quantity" id="productColor[0].productSize[0].quantity" class="form-control" placeholder="Số lượng" />
                        </div>
                        <div class="col-sm-2">
                            <input name="productColor[0].productSize[0].name" id="productColor[0].productSize[1].name" class="form-control" placeholder="Size" />
                        </div>
                        <div class="col-sm-2">
                            <input name="productColor[0].productSize[0].quantity" id="productColor[0].productSize[1].quantity" class="form-control" placeholder="Số lượng" />
                        </div>
                        <input type="hidden" id="total" value="1" />
                    </div>
                </div>
               
            </div>

            <!--
                <div>
                <label asp-for="colors" class="control-label"></label>
                <select asp-for="colors" class="form-control" asp-items="Html.GetEnumSelectList<ColorEnum>()" multiple>
                </select>
                <span asp-validation-for="colors" class="text-danger"></span>
            </div>
            -->
            <div class="form-group">
                <span class="col control-label">Hình ảnh</span>
                <input asp-for="Files" class="form-control" multiple />
                <span asp-validation-for="Files" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="col control-label">Danh Mục</span>
                <select asp-for="categoryID" class="form-control" asp-items="ViewBag.categoryID"></select>
            </div>
            <div class="form-btn d-flex justify-content-center form-btn" style="margin: 8px 12px;">
                <input type="submit" value="Thêm Sản Phẩm" class="btn btn-primary" style="
                    width: 100%;
                    background: #ee4d2d;
                    height: 38px;
                    border: none;
                    font-size: 18px;
                    border-radius: 24px;
                    font-weight: bold;" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">Trở lại</a>
</div>




@section Scripts
    {
    <script>
        $("#addRow").click(function () {
            var rowCount = parseInt($("#total").val());
            rowCount++;

            $("#total").val(rowCount);
            var html = '';
            html += '<div id="inputRow'+rowCount+'" class="row g-15">';
            html += '<div class="col-sm-3"> <input name="productColor[' + (rowCount - 1) + '].Name" id="productColor[' + (rowCount - 1) + '].Name" class="form-control" /> </div>';
            html += '<div class="col-sm-2">  <input name="productColor[' + (rowCount - 1) + '].productSize[0].name" id="productColor[' + (rowCount - 1) + '].productSize[0].name" class="form-control" /></div>';
            html += '<div class="col-sm-2"><input name="productColor[' + (rowCount - 1) + '].productSize[0].quantity" id="productColor[' + (rowCount - 1) + '].productSize[0].quantity" class="form-control"/></div>';
            html += '<div class="col-sm-2">  <input name="productColor[' + (rowCount - 1) + '].productSize[1].name" id="productColor[' + (rowCount - 1) + '].productSize[1].name" class="form-control" /></div>';
            html += '<div class="col-sm-2"><input name="productColor[' + (rowCount - 1) + '].productSize[1].quantity" id="productColor[' + (rowCount - 1) + '].productSize[1].quantity" class="form-control"/></div>';
            html += '<button id="removeRow" type="button" class="btn btn-danger col-sm-1">Remove</button>';
            $('#newRow').append(html);
        });
        $(document).on('click', '#removeRow', function () {
            var rowCount = parseInt($("#total").val());
            rowCount--;
            $("#total").val(rowCount);
            $(this).closest('#inputRow' + rowCount + '').remove();
        });
    </script>
}  