@using JZenoApp.Enum
@model JZenoApp.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-15">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="discount" class="control-label"></label>
                <input asp-for="discount" class="form-control" />
                <span asp-validation-for="discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productColor" class="control-label"></label>
                <div id="addRow" class="btn btn-info">Add</div>
                <div id="newRow">
                    <div  class="row g-15">
                        <div class="col-sm-3">
                            <input name="productColor[0].Name" id="productColor[0].Name" class="form-control" />
                        </div>
                        <div class="col-sm-2">
                            <input name="productColor[0].productSize[0].name" id="productColor[0].productSize[0].name" class="form-control" />
                        </div>
                        <div class="col-sm-2">
                            <input name="productColor[0].productSize[0].quantity" id="productColor[0].productSize[0].quantity" class="form-control" />
                        </div>
                        <div class="col-sm-2">
                            <input name="productColor[0].productSize[0].name" id="productColor[0].productSize[1].name" class="form-control" />
                        </div>
                        <div class="col-sm-2">
                            <input name="productColor[0].productSize[0].quantity" id="productColor[0].productSize[1].quantity" class="form-control" />
                        </div>
                        <input type="hidden" id="total" value="1" />
                    </div>
                </div>
               
            </div>

            <!--
                <div>
                <label asp-for="colors" class="control-label"></label>
                <select asp-for="colors" class="form-control" asp-items="Html.GetEnumSelectList<ColorEnum>()" multiple>
                </select>
                <span asp-validation-for="colors" class="text-danger"></span>
            </div>
            -->
            <div class="form-group">
                <label asp-for="Files" class="control-label"></label>
                <input asp-for="Files" class="form-control" multiple />
                <span asp-validation-for="Files" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categoryID" class="control-label"></label>
                <select asp-for="categoryID" class="form-control" asp-items="ViewBag.categoryID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>




@section Scripts
    {
    <script>
        $("#addRow").click(function () {
            var rowCount = parseInt($("#total").val());
            rowCount++;

            $("#total").val(rowCount);
            var html = '';
            html += '<div id="inputRow'+rowCount+'" class="row g-15">';
            html += '<div class="col-sm-3"> <input name="productColor[' + (rowCount - 1) + '].Name" id="productColor[' + (rowCount - 1) + '].Name" class="form-control" /> </div>';
            html += '<div class="col-sm-2">  <input name="productColor[' + (rowCount - 1) + '].productSize[0].name" id="productColor[' + (rowCount - 1) + '].productSize[0].name" class="form-control" /></div>';
            html += '<div class="col-sm-2"><input name="productColor[' + (rowCount - 1) + '].productSize[0].quantity" id="productColor[' + (rowCount - 1) + '].productSize[0].quantity" class="form-control"/></div>';
            html += '<div class="col-sm-2">  <input name="productColor[' + (rowCount - 1) + '].productSize[1].name" id="productColor[' + (rowCount - 1) + '].productSize[1].name" class="form-control" /></div>';
            html += '<div class="col-sm-2"><input name="productColor[' + (rowCount - 1) + '].productSize[1].quantity" id="productColor[' + (rowCount - 1) + '].productSize[1].quantity" class="form-control"/></div>';
            html += '<button id="removeRow" type="button" class="btn btn-danger col-sm-1">Remove</button>';
            $('#newRow').append(html);
        });
        $(document).on('click', '#removeRow', function () {
            var rowCount = parseInt($("#total").val());
            rowCount--;
            $("#total").val(rowCount);
            $(this).closest('#inputRow' + rowCount + '').remove();
        });
    </script>
}  