@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="header__nav-item">
        <a href="/Chat" class="header__nav-item-link">
            <i class="header__nav-icon far fa-question-circle"></i>
            Tin Nhắn
        </a>
    </li>
    <input id="userId" hidden value="@UserManager.GetUserAsync(User).Result!.Id" />
    @if (User.IsInRole("Admin") || User.IsInRole("Partner"))
    {
        <div style="width:5px;"></div>
        <li class="nav-item">
            <a class="header__nav-item-link" href="/Manage/Products" title="Manage">Quản Lí</a>
        </li>
        <div style="width:10px;"></div>
    }
    @if (User.IsInRole("Partner"))
    {
        <li class="nav-item">
            <a class="header__nav-item-link" href="/Partners/Details/@UserManager.GetUserId(User)" title="Manage">Cửa Hàng Của Tôi</a>
        </li>
        <div style="width:10px;"></div>
    }
    <li class="nav-item">
        <a class="header__nav-item-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><strong>@UserManager.GetUserAsync(User).Result!.fullName</strong></a>
    </li>
    <div style="width:10px;"></div>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="" style="padding: 0; margin: 0; border: none; outline: none; background: none;"> <span class="header__nav-item-link" style="width: 114px;"> Đăng Xuất</span></button>
        </form>
    </li>
}
else
{
    <li class="header__nav-item header__nav-item--bold header__nav-item--separate">
        <a class="header__nav-item-link" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
    </li>
    <li class="header__nav-item header__nav-item--bold">
        <a class="header__nav-item-link" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
    </li>
}
