@model JZenoApp.Models.Partner

@{
    ViewData["Title"] = "Thêm Đối Tác";
    <link rel="stylesheet" href="~/css/managementForm.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
}


<div class="row" style="background: #fff; padding: 20px; margin: 10px; border-radius: 8px;">
    <h2 class="font-weight-bold">Thông tin cửa hàng</h2>
    <hr />
    <div class="col-md-15">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group row p-0">
                <span class="col label-name">Tên Đối Tác</span>
                <input asp-for="name" class="input-form col-10" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group row p-0">
                <span class="col label-name">Hình Ảnh</span>
                <input asp-for="file" class="input-form col-10" />
                <span asp-validation-for="file" class="text-danger"></span>
            </div>
            <div class="form-group row p-0">
                <span class="col label-name">Mô Tả</span>
                <input asp-for="description" class="input-form col-10" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
         
            <div class="form-btn d-flex justify-content-end form-btn btn-hover" style="margin: 8px 12px;">
                <a href="/Manage/News" style="
                    width: 8%;
                    color: #ee4d2d;
                    text-decoration: none;
                    height: 38px;
                    font-size: 18px;
                    margin-right: 14px;
                    border-radius: 6px;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
                    Huỷ
                </a>

                <input type="submit" value="Đăng Ký" class="" style="
                       width: 18%;
                       color: #fff;
                       background: #ee4d2d;
                       height: 38px;
                       border: none;
                       font-size: 18px;
                       border-radius: 6px;
                       font-weight: bold; " />
            </div>
        </form>
    </div>
</div>

