@page
@model JZenoApp.Areas.Identity.Pages.Account.Manage.Bills.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Bill.billID" class="control-label"></label>
                <input asp-for="Bill.billID" class="form-control" />
                <span asp-validation-for="Bill.billID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.date" class="control-label"></label>
                <input asp-for="Bill.date" class="form-control" />
                <span asp-validation-for="Bill.date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.price" class="control-label"></label>
                <input asp-for="Bill.price" class="form-control" />
                <span asp-validation-for="Bill.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.payment" class="control-label"></label>
                <input asp-for="Bill.payment" class="form-control" />
                <span asp-validation-for="Bill.payment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.deliveryForm" class="control-label"></label>
                <input asp-for="Bill.deliveryForm" class="form-control" />
                <span asp-validation-for="Bill.deliveryForm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.voucherID" class="control-label"></label>
                <select asp-for="Bill.voucherID" class ="form-control" asp-items="ViewBag.voucherID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Bill.UserId" class="control-label"></label>
                <select asp-for="Bill.UserId" class ="form-control" asp-items="ViewBag.UserId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
